In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
#Create Path
path = r'C:\Users\praha\OneDrive\Documents\Python\02-2023 Instachart Basket Analysis'

In [4]:
#import dataframe 'orders_products_merged_2.pkl'
ords_prods_merge = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_merged.pkl'))

In [5]:
#create subset of the first one million entries
df = ords_prods_merge[:1000000]

In [9]:
df.describe()

,product_id,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1000000.000000,1000000.00000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000
mean,981.264632,72.623167,11.221698,7.738643,1.710397e+06,102535.605752,16.81873,2.763322,13.400864,10.917803,8.365422,0.558721
std,621.518780,36.737782,6.088006,4.224603,9.870142e+05,59496.628385,17.43390,2.076059,4.241099,8.628432,7.268149,0.496540
min,1.000000,1.000000,1.000000,1.000000,2.000000e+00,1.000000,1.00000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,365.000000,37.000000,5.000000,3.800000,8.550925e+05,50951.000000,4.00000,1.000000,10.000000,5.000000,3.000000,0.000000
50%,1017.000000,81.000000,13.000000,8.000000,1.711658e+06,101852.000000,11.00000,3.000000,13.000000,7.000000,6.000000,1.000000
75%,1463.000000,104.000000,16.000000,11.300000,2.564649e+06,153891.000000,23.00000,5.000000,16.000000,14.000000,12.000000,1.000000
max,2078.000000,134.000000,21.000000,24.500000,3.421074e+06,206209.000000,99.00000,6.000000,23.000000,30.000000,131.000000,1.000000

In [6]:
crosstab = pd.crosstab(ords_prods_merge['days_since_prior_order'], ords_prods_merge['order_number'], dropna = False)

In [7]:
crosstab.to_clipboard()

In [12]:
df.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'add_to_cart_order',
       'reordered', '_merge'],
      dtype='object')