In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#make a shortcut
path = r'C:\Users\praha\OneDrive\Documents\Python\02-2023 Instachart Basket Analysis'

In [3]:
path

'C:\\Users\\praha\\OneDrive\\Documents\\Python\\02-2023 Instachart Basket Analysis'

In [4]:
# direction 3: import data set orders_products_order.pkl
df_ords_prods_combined = pd.read_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_ords_prods_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [6]:
#direction 4: check the shape of data set df_ords_prods_combined.pkl
df_ords_prods_combined.shape

(32434489, 9)

In [7]:
#import data set products_checked.csv
df_prods = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [8]:
#drop unnecessary columns
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [9]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
#check the shape of data set df_prods.csv
df_prods.shape

(49672, 5)

In [11]:
# Direction 5: Merge df_prods and df_ords_prods_combined using product_id as a key, add a merge flag
df_combined = df_prods.merge(df_ords_prods_combined, on = 'product_id', indicator = True)

In [12]:
df_combined.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,7.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [12]:
#direction 6: confirm the results of the merge
df_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
#Direction 7: export as orders_products_merged.pkl
df_combined.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_merged.pkl'))