In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#make a shortcut
path = r'C:\Users\praha\OneDrive\Documents\Python\02-2023 Instachart Basket Analysis'

In [3]:
path

'C:\\Users\\praha\\OneDrive\\Documents\\Python\\02-2023 Instachart Basket Analysis'

In [4]:
#import data set orders_checked.csv
df_ords = pd.read_csv(os.path.join(path, '02. Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [5]:
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,7.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [7]:
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [8]:
#import data set order_products_prior.csv
df_ords_prior = pd.read_csv(os.path.join(path, '02. Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [9]:
#check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.isnull().sum()

order_id                  0
user_id                   0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [12]:
df_dups_prior = df_ords_prior[df_ords_prior.duplicated()]

In [13]:
df_dups_prior

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

In [14]:
df_ords.shape

(3421083, 6)

In [15]:
# Merge df_ords and df_ords_prior using order_id as a key
df_merge_large = df_ords.merge(df_ords_prior, on = 'order_id')

In [16]:
df_merge_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,7.0,196,1,0
1,2539329,1,1,2,8,7.0,14084,2,0
2,2539329,1,1,2,8,7.0,12427,3,0
3,2539329,1,1,2,8,7.0,26088,4,0
4,2539329,1,1,2,8,7.0,26405,5,0

In [22]:
df_merge_large.shape

(32434489, 9)

In [17]:
# Merge df_ords and df_ords_prior using order_id as a key, add a merge flag
df_merge_large_1 = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [18]:
df_merge_large_1.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196,1,0,both
1,2539329,1,1,2,8,7.0,14084,2,0,both
2,2539329,1,1,2,8,7.0,12427,3,0,both
3,2539329,1,1,2,8,7.0,26088,4,0,both
4,2539329,1,1,2,8,7.0,26405,5,0,both

In [19]:
df_merge_large_1['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [20]:
# Merge df_ords and df_ords_prior using order_id as a key, perform outer join, add a merge flag
df_merge_large_2 = df_ords.merge(df_ords_prior, on = 'order_id', how = 'outer', indicator = True)

In [21]:
df_merge_large_2.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,7.0,196.0,1.0,0.0,both
1,2539329,1,1,2,8,7.0,14084.0,2.0,0.0,both
2,2539329,1,1,2,8,7.0,12427.0,3.0,0.0,both
3,2539329,1,1,2,8,7.0,26088.0,4.0,0.0,both
4,2539329,1,1,2,8,7.0,26405.0,5.0,0.0,both

In [21]:
df_merge_large_2['_merge'].value_counts()

both          32434489
left_only       206209
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merge_large.to_pickle(os.path.join(path, '02. Data', 'Prepared Data', 'orders_products_combined.pkl'))